<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="de.lorbeer.app"
    android:versionCode="5"
    android:versionName="0.57" >
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".MensaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DishActivity"
            android:label="Dishes" >
        </activity>
        <activity
            android:name=".SingleDishActivity"
            android:label="Single Dish" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="Comments" >
        </activity>
        <activity
            android:name=".AddCommentActivity"
            android:label="Add Comment" >
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="Photos" >
        </activity>
        <activity
            android:name=".AddPhotoActivity"
            android:label="Add Photo" >
        </activity>
        <activity
            android:name=".AddRatingActivity"
            android:label="Add Rating" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="Info" >
        </activity>
    </application>
</manifest>